
body{
    background-image: url();
    background-size: 100% 100%;
    background-repeat : no-repeat;
    
}

td.table__col {
    border: 2px solid black;
    ;
}
td.in {
    text-align:center;
    font-size: 17px;
    font-family: IrisUPC; /*IrisUPC, OCR-A BT, Europe_Ext*/
    width: 50px;
    
}

td.MATH {
    text-align:center;
    font-size: 16px;
    font-family: Europe_Ext;
    width: 180px;
}

th.NO_gif {
    background-image: url(http://screenshot.ru/upload/images/2017/10/23/output_tktcDU2a8bd.gif);
    /*https://i.gifer.com/747o.gif, https://www.hibrido.com.br/wp-content/uploads/2018/03/artigo2.gif,
    https://cdn.dribbble.com/users/61699/screenshots/3517380/loader_test.gif,
    https://www.mrplan.es/experiencias/images/loading_23.gif*/
    background-size: 100% 100%;
    background-repeat : no-repeat;
    width: 120px;
    
}

th.YES_gif {
    background-image: url(https://cdn.dribbble.com/users/251321/screenshots/2807146/plus.gif);
    /*https://thumbs.gfycat.com/EasygoingWastefulIridescentshark-size_restricted.gif, https://cdn.dribbble.com/users/328354/screenshots/1807697/check-animation.gif,
    https://cdn.dribbble.com/users/251321/screenshots/2807146/plus.gif*/
    background-size: 100% 100%;
    background-repeat : no-repeat;
    width: 50px;
    
}

/* Global Reset */

.tab {
    overflow: hidden;
    border: 1px solid #4CAF50;
    background-color: #C8E6C9;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


.tab button:hover {
    background-color: #f8ff13;
}


.tab button.active {
    background-color: #01d863;
    color: #fff;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #4CAF50;
    border-top: none;
}

/* Start  styling the page */
.container-audio {
    position: relative;
    width: 550px;
    height: 100px;
    background: #FFF8E7;
    background: linear-gradient(0deg, #FFFFFF, #ffffff);
    border-radius: 20px;
    margin: 10px;
}

.container-audio::before, .container-audio::after{
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    background: linear-gradient(45deg, #ff00ee, #0000ff, #00ff00, #ff0000, #ff00ee, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    max-width: calc(550px - 2px);
    max-height: calc(120px - 2px);
    height: calc(100%);
    width: calc(100%);
    border-radius: 20px;
    z-index: -1;
    animation: animate 60s linear infinite;
}

.container-audio::after, .but::after {
    filter: blur(5px);
}

.playlist {
    position: relative;
    left: 20px;
    width: 550px;
    height: 200px;
    background: #fff; /* цвет фона, белый */
    /*border: 1px solid #C1C1C1;  размер и цвет границы блока */
    /*overflow-x: scroll; прокрутка по горизонтали */
    overflow: auto;
    }

#find_music, #get_music{
    position: relative;
    left: 20px;
    margin: 10px;
}
#row_playlist {
    position: relative;
    border: 1px solid #73AD21;
    border-radius: 20px;
    overflow: auto;
    text-align: center;
    z-index: 1;
    
}

#text_playlist {
    position: relative;
    top: 5px;
}

#row_playlist:hover {
    background: #ebffe8;
}

#time_song {
    margin: 7px;
    float:right;
}

#text_song_container {
    content: '';
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 210px;
/*     border: 1px solid #000000; */
    max-width: calc(150 - 2px);
    max-height: calc(50 - 2px);
    height: calc(50%);
    width: calc(57%);
/*     border-radius: 10px; */
    text-align: center;
/*     overflow: auto; */
    z-index: -1;
}

#text_song{
  margin: 12px;
}


#playlist_content {
    float:left;
}
    
.text-container {
    width: fit-content;
    text-align: left;
    top:50%;
    left:50%;
    transform: translate(10px, 10px);
}
.playback_controls{
  display: block;
}
.text {
    color:#000000;
}

.but, .but_ {
    position: relative;
    margin: 5px;
    font-size: 12px;
    height: 25px;
    width: 25px;
    border-radius: 12px;
    outline: none;
    color: #000000;
    background: #ffffff;
}

.but::before, .but::after{
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    background: linear-gradient(45deg, #ff00ee, #0000ff, #00ff00, #ff0000, #ff00ee, #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    max-width: calc(25px+2px);
    max-height: calc(25px+2px);
    height: calc(100%);
    width: calc(100%);
    border-radius: 12px;
    z-index: -1;
    animation: animate 30s linear infinite;
}

.chars_playlist{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.audio_button, .time_song {
    background: #ffffff;
    color: #000000;
    font-size: 15px;
    border: none;
    outline: none;
    padding: 0px 15px;
    height: 30px;
    width: 50px;
    line-height: 30px;
    border-radius: 32px;
}
.audio_button:hover{
    background: #ebffe8;
}
#seek {
    
    width: 230px;
}

input[type='range']{
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 1px;
    vertical-align: middle;
    border-radius: 10px;
    background-color: #232323;
    outline: none;
}
@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* MARQUEE */

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -webkit-transform: translate(100%, 0);
        transform: translate(100%, 0)
    }
    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}
 
@-moz-keyframes scroll {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    50% {
        -moz-transform: translate(100%, 0);
        transform: translate(100%, 0)
    }
    100% {
        -moz-transform: translate(-100%, 0);
        transform: translate(-100%, 0)
    }
}
 
@keyframes scroll {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(100%, 0)
    }
    100% {
        transform: translate(-100%, 0)
    }
}
 
.marquee {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}
 
.marquee span {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scroll 15s infinite linear;
    -moz-animation: scroll 15s infinite linear;
    animation: scroll 15s infinite linear;
}