<!DOCTYPE html> 
<html>
    <head>
        <title id='title'></title>
        <meta charset="utf-8">
        <meta name="yandex-verification" content="2f00cdcdfde35122" />
        <meta name="google-site-verification" content="c2xfJMI4yh9gHFIzFNtOdEZmQAa_qh18LOatLQhUZnI" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='ball_favi.ico') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myMainCSS.css') }}?ver={{ time }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome.min.css"/>
        <META NAME="description" CONTENT="live-счётчик на линию статистики футбольных матчей. Сатистика, футбол, ставки. Football Statistic.">
        <META NAME="keywords" CONTENT="сатистика, футбол, ставки">
    </head>
    <body>
              <!-- The video -->
        <video muted loop id="myVideo">
          <source src="{{ url_for('static', filename='sky_1.mp4') }}" type="video/mp4" type="video/mp4">
        </video>

        <!-- Optional: some overlay text to describe the video -->
        <div class="content">
        <!--   <h1>Heading</h1>
          <p>Lorem ipsum...</p> -->
          <!-- Use a button to pause/play the video with JavaScript -->
          <button id="myBtn" onclick="pauseImage()">Play</button>
        </div>
        
     <!-- Google Analytics -->
            <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-XXXXX-Y', 'auto');
            ga('send', 'pageview');
            </script>
    <!-- End Google Analytics -->
        
        <script>
        // Get the video
        var video = document.getElementById("myVideo");

        // Get the button
        var btn = document.getElementById("myBtn");

        // Pause and play the video, and change the button text
        function pauseImage() {
          if (video.paused) {
            video.play();
            btn.innerHTML = "Pause";
          } else {
            video.pause();
            btn.innerHTML = "Play";
          }
        }
        </script>
        <div id="wrapper" class="visible">
                <ul>
                    {% for i in range(1, 26) %}
                        <li></li>
                    {% endfor %}
                </ul>
        </div>
        <div id="title_text_container">
            <p class='text_theme_2' style='text-align:center;'>
                <i>Football Statistics новая ссылка >>><a href="http://football-statistic.online">   football-statistic.online</a></i>
            </p>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='myMainJS.js') }}?ver={{ time }}"></script>
    </body>
</html>
